<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>基本用法</title>
</head>
<body>
<div id="app">
    <input type="text" v-model="message" placeholder="输入...">
    <p>输入的内容是：{{ message }}</p>
    <textarea name="text" id="text" v-model="text" placeholder="输入..." cols="30" rows="10"></textarea>
    <p>输入的内容是：</p>
    <p style="white-space: pre">{{text}}</p>
    <input type="text" @input="handleInput" placeholder="输入...">
    <p>输入的内容是：{{ message }}</p>
</div>
</body>
</html>
<script src="../js/vue2.4.2.js"></script>
<script>
    new Vue({
        el:'#app',
        data:{
            message:'',
            text:''
        },
        methods:{
            handleInput:function(e){
                this.message=e.target.value;
            }
        }
    });
</script>